{% load i18n %}

{% trans "Historic" %}
{% trans "Fantasy" %}
{% trans "Space" %}
{% trans "Abstract" %}
{% trans "Cyberpunk" %}
{% trans "Horror" %}

{% trans "For children" %}
{% trans "For family" %}
{% trans "For party" %}
{% trans "Military" %}
{% trans "Role" %}
{% trans "Economic" %}
{% trans "Cooperative" %}
{% trans "Solo" %}
{% trans "Duel" %}
{% trans "For company 6+" %}
{% trans "Mafia" %}
{% trans "Blef" %}
{% trans "Deductive" %}
{% trans "Classic" %}
{% trans "In trip" %}
{% trans "With plot" %}
{% trans "Auction" %}
{% trans "Negotiations" %}
{% trans "Associations" %}
{% trans "Asossiactions" %}